system specification

In [ ]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: GenuineIntel
cpu family	: 6
model		: 79
model name	: Intel(R) Xeon(R) CPU @ 2.20GHz
stepping	: 0
microcode	: 0xffffffff
cpu MHz		: 2199.998
cache size	: 56320 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities
bugs		: cpu_meltdown spectre_v1 spectre_v2 spec_store_bypass l1tf mds swapgs taa mmio_stale_data retbleed
bogomips	: 4399.99
clflush size	: 64
cache_alignment	: 64
address sizes	: 46 bits physical, 48 bits virtual
power management:

In [ ]:
!cat /proc/meminfo

MemTotal:       13294252 kB
MemFree:         9373036 kB
MemAvailable:   12349564 kB
Buffers:           69464 kB
Cached:          3080364 kB
SwapCached:            0 kB
Active:           852296 kB
Inactive:        2787580 kB
Active(anon):       1016 kB
Inactive(anon):   490300 kB
Active(file):     851280 kB
Inactive(file):  2297280 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:              2556 kB
Writeback:             0 kB
AnonPages:        490056 kB
Mapped:           286156 kB
Shmem:              1260 kB
KReclaimable:     137844 kB
Slab:             174336 kB
SReclaimable:     137844 kB
SUnreclaim:        36492 kB
KernelStack:        4288 kB
PageTables:         7988 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6647124 kB
Committed_AS:    1965728 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        9236 kB
VmallocChunk:          0 kB
Percpu:             1296 kB
HardwareCorrupted:     0 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       76600 kB
DirectMap2M:     3065856 kB
DirectMap1G:    12582912 kB

importing

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
hero1,hero2,hero3 = "pratik" ,"kunal","abhinav"
print(hero1)
print(hero2)
print(hero3)

pratik
kunal
abhinav

In [ ]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

input function

In [ ]:
num1 = int(input("enter the 1 num : "))
num2 = int(input("enter the 2 num : "))
num = num1 + num2
print(num)

enter the 1 num : 23
enter the 2 num : 23
46

changing the data type

In [ ]:
num = 23
print(float(num))

23.0

In [ ]:
print("hello "*5)

hello hello hello hello hello

In [ ]:
str = "pratik"
print(str[0:7])

pratik

In [ ]:
str = "aptitudeofprogramming"
print(str[0:21:2])

attdopormig

In [ ]:
a = "machine"
b = "learning"
print(a + " " + b)

machine learning

list in python

In [ ]:
listo = [1.0,2,3,4,5]
print(listo)
type(listo)

[1.0, 2, 3, 4, 5]

list

In [ ]:
#list can have multiple datatype
list = [1,3,5.3,"boston"]
print(list)

[1, 3, 5.3, 'boston']

add element to a list

In [ ]:
list = [1,3,5.3,"boston"]
list.append(4)
print(list)

[1, 3, 5.3, 'boston', 4]

In [ ]:
#print element
print(list[4])

4

In [ ]:
print(len(list))

5

In [ ]:
#initiating empty list
list2 = []
print(list2)
list2.append(3)
print(list2)

[]
[3]

In [ ]:
#delete a item in a list
list = [1,3,5.3,"boston"]
print(list)
del list[2]
print(list)

[1, 3, 5.3, 'boston']
[1, 3, 'boston']

In [ ]:
#join the two list
list3 =  list + list2
print(list3)

[1, 3, 'boston', 3]

tuple

In [ ]:
tuple1 = (2,3,4,5)
print(tuple1)
type(tuple1)

(2, 3, 4, 5)

tuple

In [ ]:
#converting a list into tuple
list = [3,4,5,6]
print(list)
tuple =  tuple(list)
print(tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

tuple are immutable ->unchanged

In [ ]:
tuple.append(6)

AttributeError: ignored

In [ ]:
print(len(tuple))

4

set

In [ ]:
#set in curly brackets
myset = {1,2,3,4,5}
print(myset)
type(myset)

{1, 2, 3, 4, 5}

set

In [ ]:
print(myset[0])
#it can't access the element

TypeError: ignored

In [ ]:
#convert a lsit into set
list3 = [2,34,2,342,2]
x = set(list3)
print(x)
#set doesn't allow duplicate value

{2, 34, 342}

dictionary

In [ ]:
mydictionary = {'name' : 'pratik' , 'age' : 30 , 'country' : 'india'}
print(mydictionary)
type(mydictionary)

{'name': 'pratik', 'age': 30, 'country': 'india'}

dict

In [ ]:
print(mydictionary['name'])
print(mydictionary['age'])
print(mydictionary['country'])
#mydictionary doesn't allow duplicate value

pratik
30
india

Operations in Python:

1. Arithmetic Operators

In [ ]:
n = 20
n1 = 10
n2 =10
n3 =5
# + - * /
sum = n+n1*n2/n3
print(sum)

40.0

In [ ]:
exponent = n**n1
print(exponent)

10240000000000

2, assignment operator

In [ ]:
value = 20
print(value)
value+=20
print(value)

20
40

3. comparision opertor

In [ ]:
a = 5
b =10
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

4. logical operator

In [ ]:
a =10
print(a>20 and a>5)

False

In [ ]:
print(a>10 or a>5)

True

In [ ]:
print(not(a>11 and a>5))

True

5. identity operator :

In [ ]:
x = 10
y =5
print(x is y)

False

In [ ]:
x = 7
y = 7
print(x is y)

True

In [ ]:
x = 7
y = 7
print(x is not y)

False

6. membership operator

In [ ]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [ ]:
a = 5
b = 10
c = [1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True

if else statement

In [ ]:
a = 30
b  =13
if(a>b):
  print('a is the greatest number')
else:
  print('b is greatest number ')

a is the greatest number

In [ ]:
#if ():
     #print()
  #elif():
      #print()
  #else:
       #print()

In [ ]:
a =2
b =21
c =43
if(a>b):
  if(a>c):
    print('a is greatest')
  else:
    print('c is greatest')
else:
  if(b>c):
    print('bis greatest')
  else:
    print('c is greatest')

c is greatest

for loop

In [ ]:
sum =0;
for i in range(5):
  num = int(input('enter the num: '))
  sum +=num
print(sum)

enter the price of laptop : 2
enter the price of laptop : 3
enter the price of laptop : 1
enter the price of laptop : 4
enter the price of laptop : 5
15

In [ ]:
nums  = [2,34,42,42]
for i in nums:
  print(i)

2
34
42
42

while loop

In [ ]:
i =0
while i<=10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

function in python

In [ ]:
#factorial of a number

In [ ]:
num =6
fac =1
for i in range(1, num+1):
  fac = fac*i
print(fac)

720

factorial function

In [2]:
def factorial(num):
  fac =1
  for i in range(1, num+1):
      fac = fac*i
  return fac

In [3]:
print(factorial(6))

720

In [4]:
print(factorial(4))

24