In [ ]:
import numpy as np
import math as m
x = [1,2,3]
y = [4,5,6]
#x = x+10
#it give me an error

In [ ]:
#to avoid this type of error we use numpy lib
x = np.array([2,2,2,2])
y = np.array([1,1,1,1])
x = x+10
print(x)
print(x +y)

In [11]:
z = np.array([3,4,5,32,2])
#it give me an error due to size 5 and 4 in z,y resp
print(z+y)

[ 4  5  6 33]

In [15]:
p1 = np.array([2,2,2])
p2 = np.array([1,1,1])
val = ((p1-p2)**2).sum()
print(val)
x = val.sum()
print(x.mean())
print(x)
m.sqrt(x)

3
3.0
3

1.7320508075688772

In [18]:
#find the minimum distance
pts = np.array([4,5,6,7])
value1 = ((pts-pts.mean())**2).sum()
print(value1)
print(m.sqrt(value1))

5.0
2.23606797749979

In [20]:
#dot multiplication
m1 = np.array([1,2,3])
m2 = np.array([1,1,1])
print(m1.dot(m2))

6